<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-caption-input" version="1.2.30" xmlns="http://cordova.apache.org/ns/plugins/1.0">
	<!-- pre add gradle dependencies -->
	<name>PhotoCaptionInputViewPlugin</name>
	<author>James Kong</author>
	<description>Caption input view</description>
	<dependency id="cordova-plugin-cocoapod-support" version="~1.3.0"/>
	<js-module name="PhotoCaptionInputViewPlugin" src="www/caption-input.js">
		<clobbers target="plugins.photoCaptionInputView"/>
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="PhotoCaptionInputViewPlugin">
				<param name="ios-package" value="PhotoCaptionInputViewPlugin"/>
			</feature>
		</config-file>
		<header-file src="src/ios/PhotoCaptionInputViewPlugin.h"/>
		<source-file src="src/ios/PhotoCaptionInputViewPlugin.m"/>
		<pods-config ios-min-version="9.0" use-frameworks="true"></pods-config>
		<pod name="MWPhotoBrowser" git="https://github.com/nixplay/MWPhotoBrowser"  tag="2.1.22" />
		<pod name="PhotoCaptionInputView" git="https://github.com/nixplay/PhotoCaptionInputView.git" tag="0.4.9" />
		<pod name="GMImagePicker" git="https://github.com/nixplay/GMImagePicker.git" tag="0.0.15"/>

		<pod name="SDWebImage" version="4.0.0"/>
		<pod name="CRGradientNavigationBar"/>
		<resource-file src="src/ios/PhotoCaptionInputViewPlugin.bundle"/>
	</platform>
	<platform name="android">

		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity
				android:name="com.creedon.cordova.plugin.captioninput.PhotoCaptionInputViewActivity"
				android:screenOrientation="portrait"  android:theme="@style/TransparentActionBarAppTheme" >
			</activity>

			<activity android:theme="@style/customTheme" android:name="me.iwf.photopicker.PhotoPickerActivity"/>
			<activity android:theme="@style/Theme.AppCompat.NoActionBar" android:name="me.iwf.photopicker.PhotoPagerActivity" />

		</config-file>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="PhotoCaptionInputViewPlugin">
				<param name="android-package" value="com.creedon.cordova.plugin.captioninput.PhotoCaptionInputViewPlugin"/>
			</feature>
		</config-file>

		<config-file target="res/values/styles.xml" parent="/resources">
			<style name="TransparentActionBarAppTheme" parent="Theme.AppCompat.Light.DarkActionBar">
				<!--<item name="android:windowActionBarOverlay">true</item>

				<item name="windowActionBarOverlay">true</item>-->
				<item name="android:windowActionBarOverlay">true</item>
				<item name="android:actionBarStyle">@style/MyActionBar</item>

				<!-- Support library compatibility -->
				<item name="windowActionBarOverlay">true</item>
				<item name="actionBarStyle">@style/MyActionBar</item>

				<item name="android:windowContentOverlay">@null</item>
			</style>

			<!-- ActionBar styles -->
			<style name="MyActionBar" parent="@style/Widget.AppCompat.Light.ActionBar.Solid.Inverse">
		        <item name="android:background">@drawable/action_bar_bg</item>
		        <item name="android:titleTextStyle">@style/Theme.YourTheme.Styled.ActionBar.TitleTextStyle</item>
		        <item name="background">@drawable/action_bar_bg</item>
		        <item name="titleTextStyle">@style/Theme.YourTheme.Styled.ActionBar.TitleTextStyle</item>
		    </style>


			<style name="Theme.YourTheme.Styled.ActionBar.TitleTextStyle" parent="@android:style/Widget.TextView">
				<item name="android:textSize">16sp</item>
				<item name="android:textStyle">bold</item>
				<item name="android:textColor">@android:color/white</item>

			</style>
			<style name="actionBarTheme" parent="ThemeOverlay.AppCompat.Dark.ActionBar">
				<item name="android:textColorPrimary">@android:color/primary_text_dark</item>

			</style>
				<style name="customTheme" parent="Theme.AppCompat.Light.NoActionBar">
				<item name="actionBarTheme">@style/actionBarTheme</item>
				<item name="colorPrimary">#62b1e6</item>
				<item name="colorPrimaryDark">#62b1e6</item>
			</style>

		</config-file>

		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/PhotoCaptionInputViewPlugin.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/PhotoCaptionInputViewActivity.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/Constants.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/FakeR.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/RecyclerItemClickListener.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/RecyclerViewAdapter.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/RecyclerViewHolders.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/ScreenSlidePageFragment.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/SquareCardView.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/zoomable/AbstractAnimatedZoomableController.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/AnimatedZoomableController.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/DefaultZoomableController.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/DoubleTapGestureListener.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/GestureListenerWrapper.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/MultiPointerGestureDetector.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/TransformGestureDetector.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/ZoomableController.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/ZoomableDraweeView.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/activity_photoscaptioninput.xml" target-dir="res/layout" />
		<source-file src="src/android/layout_imageoverlay.xml" target-dir="res/layout" />
		<source-file src="src/android/layout_photocaption_card_view.xml" target-dir="res/layout" />
		<source-file src="src/android/fragment_screen_slide_page.xml" target-dir="res/layout" />

		<source-file src="src/android/menu_photoscaptioninput.xml" target-dir="res/menu" />
		<source-file src="src/android/drawable-xxhdpi/add.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/drawable-xxxhdpi/add.png" target-dir="res/drawable-xxxhdpi" />
		<source-file src="src/android/drawable-xxhdpi/sendfriend.png" target-dir="res/drawable-xxhdpi" />

		<source-file src="src/android/drawable-xxhdpi/round_corner_button.xml" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/drawable-xxhdpi/action_bar_bg.xml" target-dir="res/drawable-xxhdpi" />
	</platform>
</plugin>
