<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-caption-input" version="1.2.7" xmlns="http://cordova.apache.org/ns/plugins/1.0">
	<!-- pre add gradle dependencies -->
	<name>PhotoCaptionInputViewPlugin</name>
	<author>James Kong</author>
	<description>Caption input view</description>
	<dependency id="cordova-plugin-cocoapod-support" version="~1.3.0"/>
	<js-module name="PhotoCaptionInputViewPlugin" src="www/caption-input.js">
		<clobbers target="plugins.photoCaptionInputView"/>
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="PhotoCaptionInputViewPlugin">
				<param name="ios-package" value="PhotoCaptionInputViewPlugin"/>
			</feature>
		</config-file>
		<header-file src="src/ios/PhotoCaptionInputViewPlugin.h"/>
		<source-file src="src/ios/PhotoCaptionInputViewPlugin.m"/>
		<pod branch="develop" git="https://github.com/nixplay/MWPhotoBrowser" name="MWPhotoBrowser"/>
		<pod branch="develop" git="https://github.com/nixplay/PhotoCaptionInputView.git" name="PhotoCaptionInputView"/>
		<pod name="SDWebImage" version="4.0.0"/>
		<resource-file src="src/ios/PhotoCaptionInputViewPlugin.bundle"/>
	</platform>
	<platform name="android">
		<framework src="com.facebook.fresco:fresco:1.3.0"/>
		<framework src="com.github.mmin18:realtimeblurview:1.1.0"/>
		<framework src="me.relex:circleindicator:1.2.2@aar"/>
		<framework src="jp.wasabeef:fresco-processors:2.0.0"/>
		<framework src="jp.co.cyberagent.android.gpuimage:gpuimage-library:1.3.0"/>
		<framework src="com.github.bumptech.glide:glide:3.7.0"/>
		<framework src="com.github.esafirm.android-image-picker:imagepicker:1.7.4@aar"/>
		<framework src="com.kaopiz:kprogresshud:1.0.5"/>
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity
				android:name="com.creedon.cordova.plugin.captioninput.PhotoCaptionInputViewActivity"
				android:screenOrientation="portrait"  android:theme="@style/AppTheme" >
			</activity>
		</config-file>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="PhotoCaptionInputViewPlugin">
				<param name="android-package" value="com.creedon.cordova.plugin.captioninput.PhotoCaptionInputViewPlugin"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/PhotoCaptionInputViewPlugin.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/PhotoCaptionInputViewActivity.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/Constants.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/FakeR.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/RecyclerItemClickListener.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/RecyclerViewAdapter.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/RecyclerViewHolders.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/ScreenSlidePageFragment.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/SquareCardView.java" target-dir="src/com/creedon/cordova/plugin/captioninput"/>
		<source-file src="src/android/zoomable/AbstractAnimatedZoomableController.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/AnimatedZoomableController.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/DefaultZoomableController.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/DoubleTapGestureListener.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/GestureListenerWrapper.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/MultiPointerGestureDetector.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/TransformGestureDetector.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/ZoomableController.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/zoomable/ZoomableDraweeView.java" target-dir="src/com/creedon/cordova/plugin/captioninput/zoomable"/>
		<source-file src="src/android/activity_photoscaptioninput.xml" target-dir="res/layout" />
		<source-file src="src/android/layout_imageoverlay.xml" target-dir="res/layout" />
		<source-file src="src/android/layout_photocaption_card_view.xml" target-dir="res/layout" />
		<source-file src="src/android/fragment_screen_slide_page.xml" target-dir="res/layout" />

		<source-file src="src/android/menu_photoscaptioninput.xml" target-dir="res/menu" />
		<source-file src="src/android/drawable-xxhdpi/add.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/drawable-xxxhdpi/add.png" target-dir="res/drawable-xxxhdpi" />
		<source-file src="src/android/drawable-xxhdpi/sendfriend.png" target-dir="res/drawable-xxhdpi" />
		
		<source-file src="src/android/drawable-xxhdpi/round_corner_button.xml" target-dir="res/drawable-xxhdpi" />
		
		


	</platform>
</plugin>